.blog {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	&__title {
		font-size: 90px;
		font-family: amgaro;
		margin: 20px 0;
		opacity: 0;
	}
	&__subtitle {
		opacity: 0;
		font-size: 20px;
		color: darken($mainColor, 40%);
		padding: 0 10px;
		margin-bottom: 30px;
	}
	&__footer {
		margin: 80px 0 20px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 30px;
		}
		&__text {
			font-size: 20px;
			margin-bottom: 5px;
		}
	}
}

.article {
	//for animation
	transform: translateX(-300px);
	opacity: 0;
	//
	width: 100%;
	max-width: 1000px;
	margin-top: 60px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	box-sizing: border-box;
	// background-color: $mainColor;
	&__title {
		background-color: $secondColor;
		font-size: 30px;
		padding: 15px 5px;
		box-sizing: border-box;
		width: 100%;
		color: rgb(255, 248, 248);
		text-align: center;
	}
	&__resume {
		display: flex;
		padding: 20px 0;
		&__image {
			max-height: 350px;
			max-width: 40%;
			background-color: green;
			position: relative;
			right: 20px;
		}
		&__content {
			font-size: 18px;
			line-height: 28px;
		}
	}
	&__line {
        width: 100%;
        height: 3px;
        background: $secondColor;
    }
    &__textDecoration {
        position: relative;
        transform: translateY(-15.5%);
        width: 20%;
        max-width: 240px;
		align-self: center;
    }
}

@media screen and (max-width: 900px) {
	.blog {
		&__title {
			font-size: 45px;
		}
		&__subtitle {
			font-size: 16px;
			text-align: center;
		}
		&__footer {
			margin-top: 20px;
		}
	}
	.article {
		margin-top: 20px;

		&__title {
			font-size: 25px;
		}
		&__resume {
			flex-direction: column;
			align-items: center;
			padding: 15px 0 5px 0;

			&__image {
				right: 0;
			}
			&__content {
				margin: 10px 0;
				font-size: 16px;
				line-height: 20px;
				word-break: break-all;
			}
		}
	}
}
