.project {
    height: 100vh;
    display: flex;
    &__img {
        width: 70vw;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        position: relative;
        &__bg {
            background: darken(#c1c1c1, 40%);
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        img {
            height: 100%;
        }
    }
    &__desc {
        position: relative;
        width: 40vw;
        min-width: 400px;
        max-width: 700px;
        box-sizing: border-box;
        padding: 50px;
        padding-top: 60px;
        &__back {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 50px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                transform: rotate(180deg);
            }
        }
        ul {
            display: flex;
            padding:0;
            color: darken(#c1c1c1, 40%);
            font-weight: 900;
            font-size: 25px;
            display: inline;
            li {
                display: inline;
                margin-right: 15px;
                &::before {
                    content: '#';
                }
            }
        }
        h3 {
            color: $secondColor;
            font-size: 50px;

        }
        p {
            font-size: 25px;
            margin-block-start: 1em;
            margin-block-end: 1em;
            line-height: 28px;
        }
        a {
            font-size: 25px;
            p {
                margin-block-start: 3em;
            }
        }
        &::after {
            content: "";
            width: 90%;
            left: 5%;
            
            height: 3px;
            background: black;
            position: absolute;
            bottom: 40px;
        }
    }
}

@media screen and (max-width: 900px) {
    .project {
        flex-direction: column;
        height: auto;
        &__img {
            width: 100%;
            height: auto;
            order: 1;
            img {
                max-width: 100%;
            }
        }
        &__desc {
            width: 100%;
            height: auto;
            min-width: 0;
            padding: 50px 20px;
            &__back {
                left: 20px;
            }
            h3 {
                font-size: 40px;
            }
            p {
                font-size: 23px;
            }
            ul {
                li {
                    font-size: 20px;
                }
            }
        }
    }
}