
.content {
    position: absolute;
    top: 0vh;
    right: 0;
    background: white;
    width: 100vw;
    z-index: 5;
    display: flex;

    &__base {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        
    }
}




.scrollBar {
    width: 2px;
    height: 80vh;
    position: fixed;
    top: 10vh;
    right: 5%;
    background: black;
    display: flex;
    align-items: center;
    &__content {
        height: 86%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__ball {
            width: 10px;
            height: 10px;
            background: black;
            border-radius: 50%;
        }
        &__selected {
            width: 13px;
            height: 13px;
            background: black;
            border-radius: 50%;

        }
    }
}

.homeButton {
    position: fixed;
    left: -3.5%;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    div {
        width: 50px;
        height: 4px;
        position: relative;
        top: 1px;
        background: black;
    }
    z-index: 999;
}
