@font-face {
    font-family: "spiegel";
    src: url("/fonts/spiegel.ttf") format("truetype");
   }

@font-face {
    font-family: "geomanist";
    src: url("/fonts/geomanist.ttf") format("truetype");
}

@font-face {
    font-family: "amgaro";
    src: url("/fonts/amgaro.ttf") format("truetype");
}